.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, rgba(240, 240, 240, 0.3), rgba(224, 224, 224, 0.3));
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex-wrap: wrap; /* Isso permite quebrar para linha de baixo em telas menores */
    text-align: center;
  }

  .about-section p {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    max-width: 1000px;
    animation: fadeInUp 1.2s ease-out;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }